In [1]:
import pandas as pd

In [56]:
df = pd.read_csv("rawurl.csv", names=["urls"])

In [57]:
df = df[df["urls"].str.contains("liputan6.com")]
df = df[~df["urls"].str.contains("/video/")]
df.reset_index(inplace=True)
df = df.drop(columns=["index"])
df = df.dropna()
df.head()

                                                urls
0  https://www.liputan6.com/indonesia-baru/read/2...
1  https://www.liputan6.com/news/read/2200000/ser...
2  https://www.liputan6.com/bola/read/2200004/ney...
3  https://www.liputan6.com/news/read/2200005/ceg...
4  https://www.liputan6.com/bisnis/read/2200006/t...

In [58]:
len(df)

575774

In [83]:
n = 50000
listdf = [df.iloc[i*n:(i+1)*n, :] for i in range(len(df)//n)]

In [84]:
listdf.append(df.iloc[(len(df)//n)*n:((len(df)//n)*n)+(len(df)-(len(df)//n)*n)])

In [85]:
listdf[-1]

                                                     urls
550000  https://www.liputan6.com/bisnis/read/822856/rp...
550001  https://www.liputan6.com/news/read/822741/tran...
550002  https://www.liputan6.com/bola/read/822747/kece...
550003  https://www.liputan6.com/tekno/read/822816/bla...
550004  https://www.liputan6.com/tekno/read/822864/dem...
...                                                   ...
575769  https://www.liputan6.com/bisnis/read/799623/ba...
575770  https://www.liputan6.com/showbiz/read/799232/f...
575771  https://www.liputan6.com/health/read/799889/ag...
575772  https://www.liputan6.com/news/read/799624/peng...
575773  https://www.liputan6.com/indonesia-baru/read/7...

[25774 rows x 1 columns]

In [86]:
for i, dataf in enumerate(listdf):
    dataf.to_csv(f"url-{i}.csv", index=False)